.profile__info {
  display: grid;
  row-gap: 11px;
  column-gap: 18px;
  grid-template-areas:
  "username edit-button"
  "job job ";
  align-items: center;
}

@media screen and (max-width: 400px) {
  .profile__info{
    row-gap: 10px;
    column-gap: 10px;
  }
}
